# 숫자형

## 정수형

In [1]:
a= 123
a

In [3]:
a=-178
a

In [5]:
a = 0
a

## 실수형

In [7]:
a=1.2
a

1.2

In [9]:
# 컴퓨터식 지수 표현
a=4.24E10
a

42400000000.0

In [10]:
a=-4.24E10
a

-42400000000.0

In [11]:
# 8진수와 16진수
a =0o177
a

127

In [12]:
type(a)

int

In [13]:
a= 0x8ff
a

2303

## 사칙연산

In [14]:
a=3
b=4
a+b

7

In [15]:
a*b

12

In [16]:
a/b

0.75

In [17]:
#  x의 y제곱
a ** b

81

In [18]:
# 나눗셈 나머지 반환
7 % 3

1

In [19]:
3 % 7

3

In [20]:
# 나눗셈의 몫을 반환
7 // 4

1

# 문자열

In [21]:
"hello world"

'hello world'

In [22]:
'Hello world~'

'Hello world~'

In [23]:
"""Life is too short, 
You need python"""   # 구간 문자열 처리

'Life is too short, You need python'

In [24]:
# " " 또는 ' ' 이 필요할 때... 다른 따옴표로 묶어주기
"Python's favorite food is perl"

"Python's favorite food is perl"

In [25]:
food = "Python's favorite food is perl"
food

"Python's favorite food is perl"

In [26]:
'"Python is very easy." he said.'

'"Python is very easy." he said.'

In [27]:
# 백슬래시(\) 사용해서 따옴표를 문자열에 포함시키기
'Python\'s favorite food is perl'

"Python's favorite food is perl"

In [29]:
food = 'Python\'s favorite food is perl'
said = "\"Python is very easy.\" he said."
food, said

("Python's favorite food is perl", '"Python is very easy." he said.')

## 여러 줄인 문자열을 변수에 대입하고 싶을 때

In [33]:
# 줄을 바꾸는 이스케이프코드  \n
multiline = " Life is too short. \n You NEED Python"
multiline  # 주피터 노트북 편의 기능

' Life is too short. \n You NEED Python'

In [34]:
multiline = " Life is too short. \n You NEED Python"
print(multiline) # 파이썬 내장함수

 Life is too short.
 You NEED Python

## 연속된 따옴표 사용하기

In [38]:
multiline = """ Life is too short. \n You NEED Python"""
print(multiline)

 Life is too short.
 You NEED Python

## 문자열 연산하기

In [1]:
head = "Python"
tail = " is fun"
head + tail

'Python is fun'

In [3]:
a = "Python "
a * 2

'Python Python '

In [4]:
print('='*50)

==================================================

In [6]:
a = "Life is too short"
len(a)   # 길이에는 공백이 포함된다

17

# 문자열 인덱싱과 슬라이싱

## 인덱싱

In [10]:
a = "Life is too short, You need python"
a[3]

'e'

In [8]:
a[0] # 파이썬은 0부터 시작한다 (단, 함수에 따라서 계산을 1부터 시작하기도 한다)

'L'

In [11]:
a[-1]  # 인덱싱을 뒤에서부터 시작할 수도 있다

'n'

## 슬라이싱
- 범위 [start index : end index+1]

In [13]:
# life 요소를 잘라내기
b = a[0] + a[1] + a[2] + a[3]
b

'Life'

In [14]:
a[0:4]  # 슬라이싱을 하면 쉽다

'Life'

In [17]:
a[ :7]   # 0은 생략할 수 있다

'Life is'

In [18]:
a[ :5]  #공백도 가져올 수 있다

'Life '

In [22]:
a[19:]

'You need python'

In [23]:
a[19:-7]

'You need'

In [24]:
a[19:27]

'You need'

## 슬라이싱으로 문자열 나누기

In [25]:
a = "20231124Sunny"
date = a[:8]
weather = a[8:]
print(date)
print(weather)

20231124
Sunny

In [29]:
year = a[:4]
day = a[4:8]
print(year)
print(day)
print(weather)

2023
1124
Sunny

## 문자열 요소 바꾸기

In [30]:
a = "pithon"
a[1]

'i'

In [31]:
a[1] ='y'  # 이러면 에러 발생

TypeError: 'str' object does not support item assignment

In [32]:
a[0] + 'y' + a[2:]

'python'

In [33]:
# 파이썬은 전부 객체
# 데이터 구조 자료형 : sequence, set, mapping type (강의 슬라이드4 참조)
# 시퀀스 타입(이터러블 객체)은 모두 인덱싱, 슬라이싱 가능
# set = 중복제외한 값(유니크한 값)
# mapping -> dict {키:값}

## 문자열 포맷팅

- 현재 온도는 20도 입니다.
- 현재 온도는 -3도 입니다.
- 현재 온도는 ...

In [35]:
# 숫자 바로 대입하기
"I eat %d apples" %3   # % : 데시몰d (정수)

'I eat 3 apples'

In [37]:
# 문자열 대입하기
"I eat %s apples" % "five"  # % : 데시몰s (문자열)

'I eat five apples'

In [38]:
# 변수로 대입하기
number = 3
"I eat %s apples" %number

'I eat 3 apples'

In [39]:
# 2개 이상 값 넣기
number = 3
day = "three"
"I eat %d apples. So I was sick for %s days" %(number, day)

'I eat 3 apples. So I was sick for three days'

## 정렬과 공백
- 양수 : 우정렬
- 음수 : 좌정렬

In [40]:
# 10개의 문자열 공간을 만들되, 치환되는 문자열을 우측정렬하고 빈 곳은 공백으로 채울 것
"%10s"%"hi"    # 앞 부분은 공백으로

'        hi'

In [42]:
"%-10s"%"hi"    # 뒷 부분은 공백으로

'hi        '

## 소수점 표현하기

In [43]:
"%0.4f"%3.42134234

'3.4213'

## 포맷함수를 사용한 포맷팅

In [46]:
"I eat {} apples".format(3)   # .format은 매서드 (문자열 객체의 매서드 중 하나)

'I eat 3 apples'

In [47]:
type("I eat {} apples")

str

In [48]:
number =3
"I eat {} apples".format(number)

'I eat 3 apples'

In [49]:
# 2개 이상 값 넣기
number = 3
day = "three"
"I eat {} apples. So I was sick for {} days".format(number, day)

'I eat 3 apples. So I was sick for three days'

In [50]:
# 변수 이름으로 넣기 (인자 지정하기)
"I eat {number} apples. So I was sick for {day} days".format(number=10, day=3)

'I eat 10 apples. So I was sick for 3 days'

In [ ]:
# 변수 이름으로 넣기
"I eat {number} apples. So I was sick for {day} days".format(day=3, number=10) 
# 인자를 지정하면 순서를 바꿔도 상관없다

In [51]:
# 인자 있, 없 섞어서 쓸 수도 있다
"I eat {number} apples. So I was sick for {} days".format(3, number=10)

'I eat 10 apples. So I was sick for 3 days'

## f문자열 포매팅

In [52]:
name = "홍길동"
age = 30
f"나의 이름은 {name}입니다. 나이는 {age}입니다."

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [53]:
f"나는 내년이면 {age+1}살이 됩니다." # f문자열은 연산도 가능하다

'나는 내년이면 31살이 됩니다.'

In [56]:
d = {'name':'홍길동', 'age':30}   # 딕셔너리에서는 키가 인덱스가 됨
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [59]:
y = 3.4123123
f'{y:0.4f}'

'3.4123'

## 문자열 관련 함수

In [60]:
# 문자열 개수 세기 (count)
a = "hobby"

In [61]:
a.count('b')  # count도 매서드

2

In [ ]:
a.count?  # 독스트링 : 인자의 기능, 문법, 디폴트값을 확인할 수 있다

In [63]:
# help(a.count)도 동일한 독스트링 기능이다
help(a.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [64]:
a = 'python is the best choice'
a.find('b')   # 인덱스로 검색 기능 가능~

14

In [65]:
a.find('k')  # -1 은 없는 값이라는 뜻

-1

In [ ]:
a.index('t')  # find랑 동일한 기능

In [67]:
# 그러나 find와 달리 없는 값을 조회하면 에러가 나온다
a.index('k')

ValueError: substring not found

## 문자열 삽입(join)

In [69]:
# abcd 문자열 사이에 ,를 삽입
",".join('abcd')

'a,b,c,d'

In [70]:
# 리스트에서도 동일한 결과가 나온다
",".join('['a', 'b', 'c', 'd']')

SyntaxError: invalid syntax (2302022027.py, line 2)

In [78]:
a = ','
a.join('abcd')

'a,b,c,d'

## 대소문자 변환(upper, lower)

In [71]:
a = 'hi'
a.upper()

'HI'

In [72]:
'hi'.upper()

'HI'

In [73]:
a ='HI'
a.lower()

'hi'

## 공백 지우기(strip)

In [74]:
# 왼쪽 공백 지우기
a = "   hi   "
a.lstrip()

'hi   '

In [75]:
a.rstrip() # 오른쪽 공백 지우기

'   hi'

In [76]:
a.strip() # 양쪽 다 지우기

'hi'

## 문자열 바꾸기(replace)

In [79]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [80]:
a.replace?    # replace 인자 확인

## 문자열 나누기(split)

In [81]:
a.split()

['Life', 'is', 'too', 'short']

In [83]:
b = 'a:b:c:d'
b.split(":")  # 콜론을 기준으로 나눌 수도 있다

['a', 'b', 'c', 'd']

In [86]:
a1 = a.split()
a1  # 스플릿으로 나눠서 리스트로 저장

['Life', 'is', 'too', 'short']

In [87]:
' '.join(a1)  # 쪼갠 것을 다시 합치는 방법

'Life is too short'

## 리스트

In [89]:
odd = [1, 3, 5, 7, 9]
odd, type(odd)

([1, 3, 5, 7, 9], list)

In [92]:
a = []
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]

print(a, b, c, d ,e)
print(type(a), type(b), type(c), type(d), type(e))

[] [1, 2, 3] ['Life', 'is', 'too', 'short'] [1, 2, 'Life', 'is'] [1, 2, ['Life', 'is']]
<class 'list'> <class 'list'> <class 'list'> <class 'list'> <class 'list'>

In [95]:
len(e)  # 리스트를 하나의 요소로 취급한다

3

## 인덱싱과 슬라이싱

In [96]:
a = [1, 2, 3]
a

[1, 2, 3]

In [102]:
a[-1]

3

In [100]:
type(a[0])

int

In [101]:
a[0] * a[2]

3

In [103]:
b = [1, 2, 3, ['a', 'b', 'c']]
b[0]

1

In [104]:
b[-1]

['a', 'b', 'c']

In [105]:
b[3]

['a', 'b', 'c']

In [106]:
b[3][0]   # 리스트 내에서 인덱싱도 가능

'a'

In [107]:
b[-1][1]

'b'

In [108]:
c = [1, 2, ['a', 'b', ['Life', 'is']]]
c

[1, 2, ['a', 'b', ['Life', 'is']]]

In [109]:
c[2][2][0]

'Life'

In [111]:
c[-1][-1][0]

'Life'

In [112]:
a = [1, 2, 3, 4, 5]
a[0:2]

[1, 2]

In [113]:
a = "12345"
a[0:2]

'12'

In [114]:
a= [1, 2, 3, 4, 5]
b = a[:2]
c = a[2:]
print(b, c)

[1, 2] [3, 4, 5]

In [117]:
a = [1, 2, 3, ['a', 'b','c'], 4, 5]
a

[1, 2, 3, ['a', 'b', 'c'], 4, 5]

In [118]:
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [123]:
a[3][:2]

['a', 'b']

In [124]:
# 리스트 연산하기
a = [1, 2, 3]
b = [4, 5, 6]
a+b               # 배열만 가능 = 넘파이를 배워야 하는 이유

[1, 2, 3, 4, 5, 6]

In [125]:
# 리스트 반복하기
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [126]:
# 리스트 길이 구하기
len(a)

3

## 리스트 수정 & 삭제

In [127]:
a = [ 1, 2, 3]
a[2] = 4
a
# 문자열은 원본 수정이 불가능하지만 리스트는 가능하다

[1, 2, 4]

In [129]:
# del 함수
a = [1, 2, 3]
del a[1]
a

[1, 3]

In [130]:
# 범위 지우기
a = [1, 2, 3, 4, 5]
del a[2:]
a

[1, 2]

## 리스트 관련 함수
- 요소 추가(append)

In [131]:
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [132]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

## 정렬(sort)

In [133]:
a = [1, 4, 3, 2]
a.sort()   # 오름차순이 디폴트?
a

[1, 2, 3, 4]

In [134]:
a = ['a', 'c', 'b']
a.sort()
a

['a', 'b', 'c']

## 리스트 뒤집기(reverse)

In [136]:
a = [ 'a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

## 위치 반환(index)

In [142]:
a = [1, 2, 3, 3, 3]
a.index(3)   # 중복값이 있을 땐 앞의 값만 반환한다

2

In [139]:
a.index(5)  # 존재하지 않는 인덱스를 찾으면 에러 발생

ValueError: 5 is not in list

## 요소 삽입(insert)

In [143]:
a = [1, 2, 3]
a.insert(0, 4)  # index 0의 위치에 '4'를 삽입 
a

[4, 1, 2, 3]

In [144]:
a.insert(5)   # 인덱스 지정하지 않으면 오류 발생

TypeError: insert expected 2 arguments, got 1

## 요소 제거(remove)

In [146]:
a = [1, 2, 3, 1, 2, 3]
a.remove(3)   # 중복 값이 들어있을 때 첫번째 값만 삭제한다
a

[1, 2, 1, 2, 3]

## 요소 추출(pop)

In [147]:
a = [1, 2, 3]
a.pop()  # 내보내기~

3

In [148]:
a   # pop으로 추출(내보내기)해서 삭제됨
# del은 내장함수(이건 '그냥 삭제해줘'), pop은 리스트 객체 매서드(이건 '해당 인덱스 요소를 출력하고 삭제해줘' 라는 뜻)

[1, 2]

In [149]:
a = [1, 2, 3]
a.pop(1)    # 추출할 요소가 있는 인덱스를 지정

2

In [150]:
a

[1, 3]

## 리스트 확장(extend)

In [151]:
a = [1, 2, 3]
a.extend([4, 5])
a

[1, 2, 3, 4, 5]

In [152]:
b = [6, 7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]

In [154]:
a += [4, 5]
a

[1, 2, 3, 4, 5, 6, 7, 4, 5]

## 튜플

In [159]:
t1 = ()  # 빈 객체만 만들어진 것
t2 = (1, ) # 쉼표로 구분해주고 공백을 두면 = 이 뒤에 무엇이든 값이 들어갈 수 있어~ 라는 의미
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'cd'))
print(t1, t2, t3, t4, t5)
print(type(t1), type(t2), type(t3), type(t4), type(t5))

() (1,) (1, 2, 3) (1, 2, 3) ('a', 'b', ('ab', 'cd'))
<class 'tuple'> <class 'tuple'> <class 'tuple'> <class 'tuple'> <class 'tuple'>

In [157]:
t6 = (1) # 값을 가지고 객체를 만드는 것 = 여기에선 값이 없으므로 객체를 못 만듦
t6

1

In [160]:
# 튜플은 기본적으로 2개 이상이 들어가야 한다 = 쉼표가 들어가 있어야 한다.
print(t6, type(t6))

1 <class 'int'>

In [2]:
# 단일값 튜플 지정하려면 ...
a = (10)   # 이건 튜플 아님. type(a) => int
a = (10, 0)   # 이게 튜플임
type(a)

tuple

In [161]:
# 튜플은 수정할 수 없다 = 함수로 수정하면 안되는 데이터에 사용
# 삭제 안됨
t1 = (1, 2, 'a', 'b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [162]:
# 튜플은 수정할 수 없다 = 함수로 수정하면 안되는 데이터에 사용
# 추가 안됨
t1 = (1, 2, 'a', 'b')
t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment