# 함수

* 명령문 재사용(sum. max 등이 내장함수)
* 고정 인수 : 입력값을 받기 위한 매개변수, fn(x,y), 매개변수 개수 = 입력변수 개수   
    - 위치인수 fn(10, 20)  : 순서대로 들어감   
    - 키워드인수 fn(x=10, y=20) : 순서 달라도 무방
* 가변인자 : 매개변수 개와수 입력변수 개수 달라도 무방
    ```
    * 위치 인수 가변
    def fn(*args)  → *는 tuple, 전부 담을 수 있음   
    * 키워드 인수 가변   
    def fn(**kwargs) → **는 dict
    ```
* 고정인수/가변인수를 혼합으로 사용가능, 고정인수는 반드시 먼저 나와야함
* 초깃값 설정시 초기화 인수는 반드시 맨 뒤에 있어야함

In [1]:
# add 함수 만들기
def add(a, b):
    return a + b

In [2]:
# add 함수 적용
a = 3
b = 4
c = add(a,b) # add(3,4)의 리턴값을 c에 대입

print(c)

7

## 매개변수와 인수
- 매개변수는 함수에 입력으로 전달된 값을 받는 변수, 인수는 함수를 호출할 때 전달하는 입력값을 의미한다.

In [4]:
# 일반적인 함수

def add(a, b):  # a, b는 매개변수
    return a+b  

# return -> 지역변수를 전역변수(global)로 넘겨주는 기능
# 함수 안에 있는 거 -> 지역변수
# 함수 밖에 있는 거 -> 전역변수

In [5]:
print(add(3, 4))  # 3, 4는 인수

7

In [6]:
# 입력 값이 없는 함수 = 리턴 값 지정 안해도 되는 경우
# 매개변수를 안 받을 수도 있다

def say():
    return 'Hi'

In [7]:
a = say()
print(a)

Hi

In [8]:
# 리턴 값이 없는 함수

def add(a, b):
    print("%d, %d의 합은 %d입니다." % (a, b, a+b))

In [9]:
add(3, 4)

3, 4의 합은 7입니다.

In [21]:
a = add(3, 4)
print(a)

3, 4의 합은 7입니다.
None

In [22]:
# 입력값도 리턴값도 없는 함수

def say():
    print('Hi')

In [23]:
say()

Hi

In [25]:
# 매개변수를 지정하여 호출하기
# 인자(인덱스)를 지정해주면 출력순서를 바꿀 수 있다

def sub(a,b):
    return a - b

In [26]:
result = sub(a=7, b=3) # a에 7, b에 3을 전달
print(result)

4

In [27]:
# 매개변수 지정하면 순서 상관없이 사용 가능

result = sub(b=5, a=3) # b에 5, a에 3을 전달
print(result)

-2

### 여러 개의 입력값을 받는 함수 만들기 *args
여러 개의 입력값을 모두 더하는 함수를 직접 만들어 보자.   
예를 들어 add_many(1, 2)이면 3, add_many(1, 2, 3)이면 6, add_many(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)이면 55를 리턴하는 함수를 만들어 보자.   
```
*args처럼 매개변수 이름 앞에 *을 붙이면 입력값을 전부 모아 튜플로 만들어 줌.
만약 add_many(1, 2, 3)처럼 이 함수를 쓰면 args는 (1, 2, 3)이 되고 add_many(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)처럼 쓰면 args는 (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)이 된다.
여기에서 *args는 임의로 정한 변수 이름이다.
*pey, *python처럼 아무 이름이나 써도 된다.
```

In [1]:
def fn(*args):
    print(args)

In [2]:
fn()

()

In [11]:
# 입력값이 가변적이라서) 입력값이 몇 개가 될지 모를 때
# 여러 개의 입력값을 받는 함수 만들기

def add_many(*args):
    result = 0
    for i in args:
        result = result + i # *args에 입력받은 모든 값을 더한다
        
    return result

In [12]:
result = add_many(1, 2, 3)
print(result)

6

In [13]:
result = add_many(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(result)

55

In [17]:
# 고정인수와 가변인수를 함께 쓸 때 -> (파이썬 정책임) 고정인수 먼저 쓰기(가변인수는 몇개가 들어올지 모르니까)
# 고정인수 -> 인자를 지정
# 가변인수 -> 뭐가 들어올지 몰라! (*args 처럼)


def add_mul(choice, *args):
    if choice == "add": # 매개변수 choice에 "add"를 입력받았을 때
        
        result = 0
        for i in args:
            result = result + i
    elif choice == "mul": # 매개변수 choice에 "mul" 을 입력 받았을 때
        
        result = 1
        for i in args:
            result = result * i
    return result

In [19]:
result = add_mul('add', 1, 2, 3, 4, 5)
print(result)

15

In [20]:
result = add_mul('mul', 1, 2, 3, 4, 5)
print(result)

120

### 키워드 매개변수 (변수 앞에 ** 별두개)

In [28]:
# 키워드 매개변수 -> 딕셔너리도 저장해준다!

def print_kwargs(**kwargs):
    print(kwargs)

In [29]:
print_kwargs(a=1)

{'a': 1}

In [30]:
print_kwargs(name='foo', age=3)

{'name': 'foo', 'age': 3}

### 함수의 리턴값은 언제나 하나이다

In [14]:
def add_and_mul(a,b):
    return a+b, a*b

In [15]:
result = add_and_mul(3,4)
# 리턴값이 a+b와 a*b로 2개인데 받은 변수가 하나이다. 왜 오류가 안날까?

In [17]:
# 튜플로 묶은 단일값으로 반환하기 때문
resutl = (7,12)

In [18]:
# 분리해서 받고 싶을 때

result1, result2 = add_and_mul(3,4)
print(result1)
print(result2)

7
12

In [19]:
# 받고 싶은 값만 받을 수도 있음

result1, _ = add_and_mul(3, 4)
print(result1)
print(_)   # 실제로 _변수로 받는것, 그러나 어디까지나 가독성 목적임

7
12

In [10]:
# 이렇게 하면 2개를 리턴해줄까?

def add_and_mul(a,b):
    return a+b
    return a*b

In [13]:
result = add_and_mul(2, 3)
print(result)  # 원하는 형태로 답 안나옴 ㅠㅠ
# 함수는 리턴문을 만나는 순간 값을 반환하고 함수를 빠져나가버려서
# 두번째 리턴문은 실행하지 않음

5

### 리턴의 또 다른 쓰임새
- 반복문의 break와 같이, 특별한 상황일 때 함수를 빠져나가고 싶다면 return을 단독으로 써서 함수를 즉시 빠져나갈 수 있음

In [20]:
def say_nick(nick): 
    if nick == "바보": 
        return 
    print("나의 별명은 %s 입니다." % nick)
# 문자열을 출력하는 것과 값리턴은 다르므로 혼동하지 말 것
# 특정 입력값으로 '바보'라는 값이 함수에 들어오면 문자열을 출력않고 함수를 빠져나감

In [21]:
say_nick('파이썬')

나의 별명은 파이썬 입니다.

In [22]:
say_nick('바보')

## 매개변수에 초깃값 미리 설정하기

In [23]:
# default1.py

def say_myself(name, age, man=True):   # man이 디폴트값을 지정되어 있음
    print("나의 이름은 %s 입니다." % name)
    print('나의 나이는 %d 입니다' % age)
    if man :
        print('남자입니다.')
    else:
        print('여자입니다')

In [24]:
say_myself("박응용", 27)

나의 이름은 박응용 입니다.
나의 나이는 27 입니다
남자입니다.

In [25]:
say_myself("박응용", 27, True)

나의 이름은 박응용 입니다.
나의 나이는 27 입니다
남자입니다.

In [26]:
say_myself("박응선", 2)

나의 이름은 박응선 입니다.
나의 나이는 2 입니다
남자입니다.

In [27]:
say_myself("박응선", 27, False)

나의 이름은 박응선 입니다.
나의 나이는 27 입니다
여자입니다

### 초기화 매개변수는 반드시 맨 뒤에 있어야 한다(정책임)

In [ ]:
# 초깃값 설정시 주의점(초기화 매개변수는 맨 뒤에)
def say_myself(name, man=True, age): 
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % age) 
    if man: 
        print("남자입니다.") 
    else: 
        print("여자입니다.")
# 초깃값이 없는 매개변수(age)는 초깃값이 있는 매개변수(man) 뒤에 사용할 수 없다

## 함수 안에서 선언한 변수의 효력 범위(지역vs전역)
- 파이썬 튜터로 같이 실행해볼것!

In [40]:
# vartest.py

a = 1  # 전역변수

def vartest(a):
    a = a + 1  # 지역변수 -> 함수 안에서만 사용
    
print(vartest(a)) # 2가 나올까?
print(a)  # 1이 나온 이유 : 함수 매개변수는 함수 안에서만 사용하는 "지역"변수이기 때문

None
1

In [28]:
def vartest(aa):
    aa = aa + 1
    
vartest(3) # 4가 나올까
print(aa) # 실행될지? 에러 발생할지?

NameError: name 'aa' is not defined

## 함수 안에서 함수 밖의 변수를 변경하는 방법

### return 사용하기

In [29]:
a = 1

def vartest(a):
    a = a+1
    return a

a =vartest(a) # 전역변수 'a' 에 함수 리턴값이 대입된다
print(a)

2

### global 명령어 사용하기
- 전역변수로 선언
- 그러나 전역변수 선언은 주의해야 함
- 외부변수에 종속적인 함수는 좋지 않기 때문
- 독립적인 것이 좋으므로 return 사용을 추천함

In [42]:
# vartest_global.py
a = 1 
def vartest(): 
    global a 
    a = a+1

vartest() 
print(a)

2

### lamda 표현식으로 익명 함수 만들기
- 일회성 함수 (일회성 데이터 정제처리에 자주 쓰임)
- 함수를 간편하게 작성할 수 있어서 다른 함수의 인수로 넣을 때 자주 사용
- def를 사용해야 할 정도로 복잡하지 않거나, def를 사용할 수 없는 곳에 쓰임
- lambda는 def 지정함수를 아주 짧게 한줄로 표현할수 있을때 굳이  def을 쓰지 않고 lambda로 간단하게 처리
- lambda 내에서 선언된 변수들 또한 지역변수로, 전역에서는 쓸 수 없음

함수_이름 = lambda 매겨변수1, 매개변수 2, ... : 매개변수를_이용한_표현식

In [30]:
add = lambda a, b: a+b
result = add(3,4)
print(result)

7

In [31]:
# def 함수와 동일한 역할을 수행

def add(a, b):
    return a+b

result = add(3,4)
print(result)

7

# 사용자 입출력

## 사용자 입력

### input 사용하기

In [32]:
a = input()

Life is too short, you need python

In [33]:
a

'Life is too short, you need python'

### 프롬프트를 띄워 사용자 입력받기
- 사용자 입력시 안내 문구 또는 질문을 보여주고자 할때

input("안내 문구")

In [34]:
number = input("숫자를 입력하세요: ")

숫자를 입력하세요: 123

In [37]:
type(number)
# input은 입력되는 모든 것을 문자열로 취급함

str

## print 자세히 알기

### 따옴표로 둘러싸인 문자열은 + 연산과 동일

In [38]:
# 동일한 결과, 따옴표 문자열을 연속해서 쓰면 +연산과 동일한 결과
print("life" "is" "too short")  # 1번
print("life"+"is"+"too short")  # 2번

lifeistoo short
lifeistoo short

In [39]:
# 작은 따옴표도 동일하다.
print('life' 'is' 'too short')  # 1번
print('life'+'is'+'too short')  # 2번

lifeistoo short
lifeistoo short

### 문자열 띄어쓰기는 쉼표로 함

In [40]:
print("life", "is", "too short")

life is too short

### 한줄에 결과값 출력하기
- end 매개변수의 초깃값은 줄바꿈(\n)이다
- 이것은 공백으로 바꿔주면 한줄 출력을 할 수 있음

In [41]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [42]:
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9