# 초보자를 위한 파이썬 300제
- https://wikidocs.net/book/922

## 001 ~ 010

In [1]:
print('Hello World!')

Hello World!

In [2]:
print("Mary's cosmetics")

Mary's cosmetics

In [3]:
print('신씨가 소리 질렀다. "도둑이야!"')

신씨가 소리 질렀다. "도둑이야!"

In [30]:
print('C:\Windows' , 'C:/Windows')   # 확인할 것: \ , /

C:\Windows C:/Windows

- 줄바꿈, 탭

In [9]:
print("안녕하세요. \n만나서\t\t반값습니다.")
# \n 줄바꿈
# \t tab

안녕하세요.
만나서		반값습니다.

In [10]:
print("오늘은", "일요일")

오늘은 일요일

- print() 출력내용 구분짓기

In [16]:
print("naver", "kakao", "sk", "samaung", sep=';')

naver;kakao;sk;samaung

In [12]:
print("naver", "kakao", "sk", "samsung", sep='/')

naver/kakao/sk/samsung

- 줄바꿈 없이 출력
- 세미콜론(;)은 한줄에 여러 개의 명령어 작성할 때 사용

In [21]:
print("first", end=" "); print('second')

first second

In [23]:
#a = 5/3
#print(a)

print(5/3)

1.6666666666666667

In [1]:
# 7번, 8번 => join 사용해도 됨
 
a = ("naver", "kakao", "samsung")
b = ":".join(a)

print("naver", "kakao", "samsung", sep=":")
print(b)

naver:kakao:samsung
naver:kakao:samsung

In [2]:
a = ("naver", "kakao", "samsung")
b = "/".join(a)

print("naver", "kakao", "samsung", sep="/")
print(b)

naver/kakao/samsung
naver/kakao/samsung

## 011 ~ 020

In [27]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

|항목|값|
|:-----:|:---:|
|시가총액|298조|
|현재가|50,000원|
|PER|15.79|

In [31]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79

print(시가총액)
print(현재가)
print(PER)

298000000000000
50000
15.79

In [35]:
s = "hello"
t = "python"
print(s+'!', t)

hello! python

In [5]:
2 + 2 * 3  # 사칙연산은 곱셈, 나눗셈이 덧셈 뺄셈보다 먼저 계산됨

8

In [6]:
a = 128
print(type(a))

<class 'int'>

In [7]:
a = "132"
type(a)   # 정수에 "" 따옴표 붙이면 문자열로 인식

str

In [11]:
# 16번 문제

num_str = "720"
num_int = int(num_str)
type(num_int)

int

In [3]:
# 16번 int말고 float으로도 변환할 수 있음
# 연산값을 출력하여 제대로 되어 있는지 확인

num_str = '720'
num_float = float(num_str)
print(num_float+1, type(num_float))

721.0 <class 'float'>

In [12]:
num = 100
num_str = str(num)
print(num_str, type(num_str))

100 <class 'str'>

In [14]:
str = "15.79"
result_float = float(str)
print(result_float, type(result_float))

15.79 <class 'float'>

In [16]:
year = "2020"
data = int(year)

print(data+1, data+2, data+3)
print(data-3, data-2, data-1)

2021 2022 2023
2017 2018 2019

In [17]:
# f 문자열도 섞어서 써보기
m_price = 48584
f'에어컨 구입 총금액 = {m_price * 36}원.'

'에어컨 구입 총금액 = 1749024원.'

## 021 ~ 030

In [18]:
letters = 'python'
print(letters[0], letters[2])

p t

In [20]:
license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [21]:
# '홀'만 출력하기 (1) 띄어쓰기 있는 ver.
str = '홀짝홀짝홀짝'
print(str[0], str[2], str[4])

홀 홀 홀

In [22]:
# '홀'만 출력하기 (2) 띄어쓰기 없는 ver.
# 슬라이싱 -> "시작인덱스:마지막인덱스:오프셋"  
# 오프셋 = 단위

str = '홀짝홀짝홀짝'
print(str[::2])  # 처음부터 끝까지 2씩 건너뛰며 출력

홀홀홀

In [24]:
# 문자열 거꾸로 뒤집어 출력
str = "PYTHON"
print(str[::-1])  # 처음부터 끝까지 -1씩 건너뛰며 출력 = 뒤에서 앞까지 1씩 역순으로 출력

NOHTYP

In [37]:
# 25 번
# 문자열 치환
# 연락처에서 하이픈(-)만 빼고 출력하기 (1) 간편한 방법

phone_number = "010-1111-2222"
phone_number.replace("-", " ")

'010 1111 2222'

In [35]:
# 연락처에서 하이픈(-)만 빼고 출력하기 (2) 손이 고생하는 방법 ㅠㅠ

phone_number = "010-1111-2222"
print(phone_number[0:3]+phone_number[4:8]+phone_number[9:])

01011112222

In [38]:
# 26번 : 25번 문제의 전화번호를 하이픈 제거 + 공백없이 출력

phone_number = "010-1111-2222"
phone_number.replace("-", "")

'01011112222'

In [48]:
# 27번
# url에 저장된 웹페이지 주소에서 도메인 출력하기 (1) . 기준으로 쪼개기 + 인덱싱
url = "http://sharebook.kr"
url_cut = url.split(".")
print(url_cut[-1])

kr

In [41]:
# url에 저장된 웹페이지 주소에서 도메인 출력하기 (2) 슬라이싱
url = "http://sharebook.kr"
print(url[-2:])

kr

In [50]:
lang = 'python'
lang[0] = 'p'
print(lang)  # 에러 원인 :  문자열은 수정할 수 없다(immutable)

TypeError: 'str' object does not support item assignment

In [54]:
# 소문자 'a'를 대문자 'A'로 바꾸기

string = 'abcde2a354a32a'
string.replace('a', 'A')

'Abcde2A354A32A'

In [57]:
# 30번
# replace 메서드는 원본 문자열은 보존한 채, 변경된 "새로운 문자열 객체"를 반환하는 것
string = 'abcd'
string.replace('b', 'B')
print(string)   # 문자열은 수정 불가하므로 원본 문자열인 'abcd'가 그대로 출력됨

abcd

## 031 ~ 040

In [58]:
a = "3"
b = "4"
print(a+b)

34

In [60]:
print("Hi " * 3)

Hi Hi Hi

In [61]:
print('-' * 80)

--------------------------------------------------------------------------------

In [63]:
t1 = 'python '
t2 = 'java '

print((t1+t2) * 4)

python java python java python java python java

In [65]:
# 35번 : f포맷팅
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

In [72]:
print("이름: %s 나이: %d" %(name1, age1))
print('이름: %s 나이: %d' %(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [75]:
# 36번 : 35번 문제와 같은 결과물을 format() 메서드 이용해서 출력
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [80]:
# 37번 : 35번 문제와 같은 결과물을 f문자열 이용해서 출력
print(f'이름: {name1} 나이: {age1}') 
print(f'이름: {name2} 나이: {age2}')

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [88]:
# 38번 : 문자열을 정수로 변환할 때...
# 컴마 제거하기 : 방법 1 = 데이터 타입을 정수로 변환
# 숫자형태의 문자열에 컴마가 포함되면 정수 변환이 바로 지원되지 않음
# 문자열 replace로 컴마 제거한 후 정수로 타입을 변화해야 함
상장주식수 = "5,969,782,550"

제거 = 상장주식수.replace(',','')
변환 = int(제거)
print(변환, type(변환))

5969782550 <class 'int'>

In [89]:
# 컴마 제거하기 : 방법 2 = 데이터 타입을 정수로 변환 못함
상장주식수 = "5,969,782,550"

int_상장주식수 = 상장주식수.replace(',','')
print(int_상장주식수, type(int_상장주식수))

5969782550 <class 'str'>

In [92]:
# 문자열 슬라이싱
분기 = '2020/03(E) (IFRS연결)'
print(분기[:7])

2020/03

In [95]:
# 문자열 공백 제거
# 문자열은 수정 불가 = strip() 메서드는 원본 문자열은 유지하고, 공백이 제거된 "새로운 문자열"을 반환함
data = "   삼성전자    "
data1 = data.strip()
print(data1)

삼성전자

## 041 ~ 050

In [97]:
# 대문자로
ticker = "btc_krw"
ticker1 = ticker.upper()
print(ticker1)

BTC_KRW

In [98]:
# 소문자로
ticker2 = ticker.lower()
print(ticker2)

btc_krw

In [102]:
# 문자열 'hello' -> 'Hello'로 변경 
# (방법1) capitalize 메서드
a = 'hello'
a = a.capitalize()
print(a)

Hello

In [103]:
# 문자열 'hello' -> 'Hello'로 변경 
# (방법2)
str1 = 'hello'
str2 = str1.replace('h', 'H')
print(str2)

Hello

In [104]:
# 44번 : endswith()
# 파일 이름이 문자열로 저장되어 있을 때, 파일이름이 'xlsx'로 끝나는지 확인

file_name = "보고서.xlsx"
file_name.endswith('xlsx')   # boolean

True

In [108]:
# 파일 이름이 문자열로 저장되어 있을 때, 파일이름이 'xlsx' or 'xls'로 끝나는지 확인

file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls"))  # 괄호 2개

True

In [111]:
# startswith()
file_name = "2020_보고서.xlsx"
file_name.startswith('2020')

True

In [113]:
# split()
# 공백을 기준으로 문자열 나누기

a = 'hello world'
a.split()

['hello', 'world']

In [114]:
ticker = "btc_krw"
ticker.split('_')

['btc', 'krw']

In [115]:
# 날짜를 연도, 월, 일 나누기

date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [116]:
# 문자열 오른쪽 공백 제거

data = "039490     "
data.rstrip()

'039490'

## 051 ~ 060

|순위|영화|
|:--:|:--:|
|1|닥터 스트레인지|
|2|스플릿|
|3|럭키|

In [123]:
# 리스트 생성
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
type(movie_rank)

list

In [124]:
# 리스트 요소 추가(1) : 맨 뒤에

movie_rank.append("배트맨")
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [125]:
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [128]:
# 리스트 요소 추가(2) : 특정 위치 지정 --->   .insert(인덱스,값)

movie_rank.insert(1,"슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [129]:
# 리스트 요소 삭제 : 1개

del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [132]:
# 리스트 요소 삭제 : 2개 이상
# 리스트에서 특정 값 삭제 -> 남은 값들도 자동으로 새로 인덱싱
# 두개 이상의 요소를 삭제할 땐, 어떤 값이 삭제된 후 남은 요소들의 순서를 새로 고려하여 인덱스 입력
del movie_rank[2]
del movie_rank[2]

print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [134]:
# 리스트 요소 합치기

lang1 = ['C', 'C++', 'JAVA']
lang2 = ['Python', 'Go', 'C#']

langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [138]:
# 최댓값, 최솟값
nums = [1, 2, 3, 4, 5, 6, 7]

print("max :", max(nums))
print("min :", min(nums))

max : 7
min : 1

In [139]:
# 리스트의 합 출력
nums = [1, 2, 3, 4, 5]

sum(nums)

15

In [140]:
# 리스트에 저장된 데이터의 개수

cook = ['피자', '김밥', '만두', '양념치킨', '족발', '피자', '김치만두', '쫄면', '소시지', '라면', '팥빙수', '김치전']
len(cook)

12

In [145]:
nums = [1, 2, 3, 4, 5]

average = sum(nums) / len(nums)
print(average)

3.0

## 061 ~ 070

In [146]:
# price 변수에서 (날짜 정보 제외하고) 가격 정보만 출력
price = ['20180728', 100, 130, 140, 150, 160, 170]

price[1:]

[100, 130, 140, 150, 160, 170]

In [147]:
# 슬라이싱 활용해서 홀수만 출력
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

nums[::2]

[1, 3, 5, 7, 9]

In [149]:
# 슬라이싱 활용해서 짝수만 출력
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

nums[1::2]

[2, 4, 6, 8, 10]

In [150]:
# 슬라이싱 활용해서 리스트 숫자를 역순으로 출력
nums = [1, 2, 3, 4, 5]

nums[::-1]

[5, 4, 3, 2, 1]

In [153]:
interest = ['삼성전자', 'LG전자', 'Naver']

print(interest[0], interest[2])

삼성전자 Naver

In [155]:
# join()
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [156]:
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [159]:
print(' \n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [167]:
# 회사 이름을 interest 리스트로 분리하여 저장
string = "삼성전자/LG전자/Naver"

interest = string.split('/')
print(interest, type(interest))

['삼성전자', 'LG전자', 'Naver'] <class 'list'>

In [173]:
# 리스트 값 오름차순 정리 (방법1)   .sort()
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [175]:
# 리스트 값 오름차순 정리 (방법2)     .sorted()
data = [2, 4, 3, 1, 5, 10, 9]
data2 = sorted(data)
print(data2)

[1, 2, 3, 4, 5, 9, 10]

## 071 ~ 080

In [179]:
# my_variable 이름의 비어있는 튜플 만들기

my_variable = ()
print(type(my_variable))

<class 'tuple'>

|순위|영화|
|:--:|:--:|
|1|닥터 스트레인지|
|2|스플릿|
|3|럭키|

In [182]:
movie_rank = ('닥터 스트레인지', '스플릿', '럭키')
print(movie_rank, type(movie_rank))

('닥터 스트레인지', '스플릿', '럭키') <class 'tuple'>

In [236]:
# 숫자 1이 저장된 튜플 생성
t = (1, )
print(t, type(t))

(1,) <class 'tuple'>

In [242]:
# 코드오류 원인 찾기  -> 튜플은 수정 불가(immutable)

t = (1, 2, 3)
t[0] = 'a'

TypeError: 'tuple' object does not support item assignment

In [224]:
# 튜플은 괄호 생략 가능
t = 1, 2, 3, 4
type(t)

tuple

In [225]:
# 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정
t = ('a', 'b', 'c')

t[0] = 'A'  # 코드에러 원인 : 튜플은 수정이 불가하다

TypeError: 'tuple' object does not support item assignment

In [246]:
# 튜플 -> 리스트
interest = ('삼성전자', 'LG전자', 'SK Hynix')

data = list(interest)
type(data)

list

In [247]:
# 78 번
# 리스트 -> 튜플
interest = ['삼성전자', 'LG전자', 'SK Hynix']

data = tuple(interest)
print(data)

TypeError: 'tuple' object is not callable

In [231]:
# 튜플 언팩킹
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [244]:
# range 함수 
# 1부터 99까지의 정수 중 짝수만 저장된 튜플 생성

even_num = tuple(range(2, 100, 2))
print(even_num)

TypeError: 'tuple' object is not callable