## 151-160
- https://wikidocs.net/78768

In [2]:
#151

lt = [3, -20, -3, 44]

for i in lt:
    if i < 0:
        print(i)

-20
-3

In [3]:
#152

lt = [3, 100, 23, 44]

for i in lt:
    if i % 3 == 0:
        print(i)

3

In [5]:
#153

lt = [13, 21, 12, 14, 30, 18]

for i in lt:
    if (i < 20) and (i % 3 == 0):   # ()없어도 되지만 가독성을 위해 사용하자
        print(i)

12
18

In [6]:
#154

lt = ["I", "study", "python", "language", "!"]

for i in lt:
    if len(i) >= 3:
        print(i)

study
python
language

In [15]:
#155
# isupper()

lt = ["A", "b", "c", "D"]

for i in lt:
    if i.isupper() == True:   
        print(i)

# 소문자만 출력하게 하려면 ~
# if i.usupper == False: 
# if not i.isupper():
# if i.isupper != True:

A
D

In [14]:
#156
# islower()

lt = ["A", "b", "c", "D"]

for i in lt:
    if i.islower() == True:
        print(i)

b
c

In [26]:
#157

lt = ['dog', 'cat', 'parrot']

for i in lt:
    fst = i[0]
    up = fst.upper()
    print(up + i[1:])

Dog
Cat
Parrot

In [28]:
# 156 코드 한줄로 만들기 연습

for i in lt:
    print(i[0].upper() + i[1:])

Dog
Cat
Parrot

In [35]:
#158
lt = ['hello.py', 'ex01.py', 'intro.hwp']


for i in lt:
    sp = i.split('.')
    print(sp[0])

hello
ex01
intro

In [47]:
#159

lt = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in lt:
    sp = i.split('.')
    if sp[1] == 'h':
        print(i)

intra.h
define.h

In [54]:
#160

lt = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in lt:
    sp = i.split('.')
    if sp[1] == 'h' or sp[1] == 'c':
        print(i)

intra.h
intra.c
define.h

## 161-170
- https://wikidocs.net/7033

In [60]:
#161  0부터 99까지
# for i in range(100):
for i in range(11):   # 너무 길어서 10까지만 출력
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [61]:
#162

for i in range(2002, 2051, 4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [65]:
#163
# 1부터 30까지지만 어차피 3부터 출력될거니까..

for i in range(3, 31, 3): 
    print(i)

3
6
9
12
15
18
21
24
27
30

In [71]:
#164
# 99부터 0까지 출력이지만
# for i in range(99, -1, -1):

# 내가 작성한 코드
for i in range(9,-1,-1): # 너무 길어서 그냥 9부터 0까지만
    print(i)

9
8
7
6
5
4
3
2
1
0

In [74]:
# 예제 답안 (뺄셈 활용)

'''for i in range(100):
    print(99 - i)'''

'for i in range(100):\n    print(99 - i)'

In [77]:
#165
# 0에서 0.9까지 0.1씩 커지는...

for i in range(10):
    print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [79]:
#166
for i in range(1, 10, 1):
    print(f'3 x {i} = {3*1}')

3 x 1 = 3
3 x 2 = 3
3 x 3 = 3
3 x 4 = 3
3 x 5 = 3
3 x 6 = 3
3 x 7 = 3
3 x 8 = 3
3 x 9 = 3

In [80]:
# 167
# 내가 만든 코드

for i in range(1, 10):
    if i % 2 == 1:
        print(f'3 x {i} = {3*i}')

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [81]:
# 예제 답안 : 애초에 i를 홀수만 추출해도 됨

for i in range(1, 10, 2):
    print(f'3 x {i} = {3*1}')

3 x 1 = 3
3 x 3 = 3
3 x 5 = 3
3 x 7 = 3
3 x 9 = 3

In [99]:
#168
# 변수에 0 저장하고 시작

total = 0

for i in range(11):
    total += i
    
print('합 :', total)

합 : 55

In [100]:
#169

total = 0

for i in range(1, 11, 2):
    total += i

print('합 :', total)

합 : 25

SyntaxError: invalid syntax (273884368.py, line 1)

In [103]:
#170

total = 1

for i in range(1, 11):
    total *= i
print(total)

3628800

## 171-180
- https://wikidocs.net/25315

In [107]:
#171
# 내가 작성한 코드

price_list = [32100, 32150, 32000, 32500]

for i in range(4):
    print(price_list[i])

32100
32150
32000
32500

In [113]:
#171 예제 답안
# price_list 변경되어도 수정할 필요 없으므로 len() 권장  

for i in range(len(price_list)):  # len() 
    print(price_list[i])

32100
32150
32000
32500

In [118]:
#172
# enumerate : '인덱스와 값을' 열거하다 
# 순서가 있는 데이터(리스트, 튜플, 문자열)를 입력으로 받아 
# 인덱스 값을 포함하는 enumerate 객체를 리턴 --> 주로 for문과 함께 사용

price_list = [32100, 32150, 32000, 32500]

for i, data in enumerate(price_list):
    print(i, data)

0 32100
1 32150
2 32000
3 32500

In [120]:
#173
# 잘 생각 해보기
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
    print((len(price_list)-1-i), price_list[i])

3 32100
2 32150
1 32000
0 32500

In [124]:
#174
price_list = [32100, 32150, 32000, 32500]

for i in range(1, 4):
    print(90 + 10*i, price_list[i])

100 32150
110 32000
120 32500

In [126]:
#175
# 내가 작성한 코드

my_list = ["가", "나", "다", "라"]

for i in range(1,4):
    print(my_list[i-1], my_list[i])

가 나
나 다
다 라

In [127]:
#175 예제 답안 (1)
# 안정적으로 len() 를 활용하자

my_list = ["가", "나", "다", "라"]

for i in range( len(my_list) - 1 ):
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [128]:
#175 예제 답안 (2)
# 안정적으로 len() 를 활용하자

my_list = ["가", "나", "다", "라"]

for i in range(1, len(my_list)):
    print(my_list[i-1], my_list[i])

가 나
나 다
다 라

In [129]:
#176
# 내가 작성한 코드
my_list = ["가", "나", "다", "라", "마"]

for i in range(3):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [ ]:
# 176 예제 답안 ---> len()을 활용한 3가지 방법
# 1. len()
my_list = ["가", "나", "다", "라", "마"]

for i in range( len(my_list) -2 ):  # 내가 짠 코드와 가장 유사
    print(my_list[i], my_list[i+1], my_list[i+2])

In [131]:
# 2. len()
my_list = ["가", "나", "다", "라", "마"]

for i in range( 1, len(my_list) -1 ):
    print(my_list[i-1], my_list[i], my_list[i+1])

가 나 다
나 다 라
다 라 마

In [132]:
# 3. len()
my_list = ["가", "나", "다", "라", "마"]


for i in range( 2, len(my_list) ):
    print(my_list[i-2], my_list[i-1], my_list[i])

가 나 다
나 다 라
다 라 마

In [136]:
#177
my_list = ["가", "나", "다", "라"]

for i in range((len(my_list) -1), 0, -1):
    print(my_list[i], my_list[i-1])

라 다
다 나
나 가

In [137]:
#178
# 내가 작성한 코드
my_list = [100, 200, 400, 800]

for i in range(len(my_list)-1):
    print(my_list[i+1] - my_list[i])

100
200
400

In [138]:
#178 예제 답안
# abs 절대값 활용

for i in range(len(my_list) -1):
    print(abs(my_list[i+1] - my_list[i]))

100
200
400

In [145]:
#179
my_list = [100, 200, 400, 800, 1000, 1300]

for i in range(1, len(my_list) -1):
    print( (my_list[i-1]+my_list[i]+my_list[i+1]) / 3 )

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [153]:
#180
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility = []

for i in range(5):
    volatility.append( high_prices[i] - low_prices[i] )
    
print(volatility)

[50, 100, 30, 80, 0]

## 181-190
- https://wikidocs.net/78564

In [155]:
#181
apart = [ ["101호", "102호"], ["201호", "202호"], ["301호", "302호"] ]

print(apart)

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [156]:
#182
stock = [ ["시가", 100, 200, 300], ["종가", 80, 210, 330] ]

print(stock)

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [157]:
#183
stock = {"시가": [100, 200, 300], "종가": [80, 210, 330] }

print(stock)

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [158]:
#184
stock = {"10/10": [80, 110, 70, 90], "10/11": [210, 230, 190, 200] }

print(stock)

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [165]:
#185
# 내가 작성한 코드
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in range(len(apart)):
    print( apart[i][0] ,'호', '\n', apart[i][1], '호')

101 호
 102 호
201 호
 202 호
301 호
 302 호

In [167]:
#185 예제답안 # 이중for문을 쓰면된다
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col, '호')

101 호
102 호
201 호
202 호
301 호
302 호

In [170]:
#186
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart[::-1]:
    for col in row:
        print(col, '호')

301 호
302 호
201 호
202 호
101 호
102 호

In [171]:
#187
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart[::-1]:
    for col in row[::-1]:
        print(col, '호')

302 호
301 호
202 호
201 호
102 호
101 호

In [172]:
#188
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col, '호')
        print('-----')

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [175]:
#189
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col, '호')
    print('-----')

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [176]:
#190
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col, '호')

print('-----')

101 호
102 호
201 호
202 호
301 호
302 호
-----

## 191-200
- https://wikidocs.net/78565

In [179]:
#191
# OHLC (open/high/low/close) 가격 정보
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for p in data:
    for total in p:
        print(total * 1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [180]:
#192
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for p in data:
    for total in p:
        print(total * 1.00014)
    print('-----')

2000.28
3050.427
2050.2870000000003
1980.2772
-----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
-----
15452.163
15052.107
15552.177
14902.086000000001
-----

In [186]:
#193
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result = []

for p in data:
    for total in p:
        result.append(total* 1.00014)
        
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [188]:
#194
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result = []

for p in data:
    sub = []
    for total in p:
        sub.append(total* 1.00014)
    result.append(sub)    
        
result

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772],
 [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772],
 [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [198]:
#195
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    print(i[3])

100
190
310

In [200]:
#196
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    if i[3] > 150:
        print(i[3])

190
310

In [203]:
#197
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    if i[3] >= i[0]:
        print(i[3])

100
310

In [215]:
#198
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

# 예제 (1)

volatility = []

for i in ohlc[1:]:
    volatility.append(i[1]-i[2])    

volatility

[40, 30, 10]

In [216]:
# 예제 (2)

volatility = []

for i in range(1, len(ohlc)):
    volatility.append(ohlc[i][1]-ohlc[i][2])
print(volatility)

[40, 30, 10]

In [218]:
#199
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    if i[0] < i[3] :
        print(i[1] - i[2])

10

In [228]:
#200
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

total = 0

for i in ohlc[1:]:
    total += (i[3] - i[0])

print(total)

0