# 초보자를 위한 파이썬 300제
- https://wikidocs.net/book/922

## 001 ~ 010

In [1]:
print('Hello World!')

Hello World!

In [2]:
print("Mary's cosmetics")

Mary's cosmetics

In [3]:
print('신씨가 소리 질렀다. "도둑이야!"')

신씨가 소리 질렀다. "도둑이야!"

In [30]:
print('C:\Windows' , 'C:/Windows')   # 확인할 것: \ , /

C:\Windows C:/Windows

- 줄바꿈, 탭

In [9]:
print("안녕하세요. \n만나서\t\t반값습니다.")
# \n 줄바꿈
# \t tab

안녕하세요.
만나서		반값습니다.

In [10]:
print("오늘은", "일요일")

오늘은 일요일

- print() 출력내용 구분짓기

In [16]:
print("naver", "kakao", "sk", "samaung", sep=';')

naver;kakao;sk;samaung

In [12]:
print("naver", "kakao", "sk", "samsung", sep='/')

naver/kakao/sk/samsung

- 줄바꿈 없이 출력
- 세미콜론(;)은 한줄에 여러 개의 명령어 작성할 때 사용

In [21]:
print("first", end=" "); print('second')

first second

In [23]:
#a = 5/3
#print(a)

print(5/3)

1.6666666666666667

In [1]:
# 7번, 8번 => join 사용해도 됨
 
a = ("naver", "kakao", "samsung")
b = ":".join(a)

print("naver", "kakao", "samsung", sep=":")
print(b)

naver:kakao:samsung
naver:kakao:samsung

In [2]:
a = ("naver", "kakao", "samsung")
b = "/".join(a)

print("naver", "kakao", "samsung", sep="/")
print(b)

naver/kakao/samsung
naver/kakao/samsung

## 011 ~ 020

In [27]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

|항목|값|
|:-----:|:---:|
|시가총액|298조|
|현재가|50,000원|
|PER|15.79|

In [31]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79

print(시가총액)
print(현재가)
print(PER)

298000000000000
50000
15.79

In [35]:
s = "hello"
t = "python"
print(s+'!', t)

hello! python

In [5]:
2 + 2 * 3  # 사칙연산은 곱셈, 나눗셈이 덧셈 뺄셈보다 먼저 계산됨

8

In [6]:
a = 128
print(type(a))

<class 'int'>

In [7]:
a = "132"
type(a)   # 정수에 "" 따옴표 붙이면 문자열로 인식

str

In [11]:
# 16번 문제

num_str = "720"
num_int = int(num_str)
type(num_int)

int

In [3]:
# 16번 int말고 float으로도 변환할 수 있음
# 연산값을 출력하여 제대로 되어 있는지 확인

num_str = '720'
num_float = float(num_str)
print(num_float+1, type(num_float))

721.0 <class 'float'>

In [12]:
num = 100
num_str = str(num)
print(num_str, type(num_str))

100 <class 'str'>

In [14]:
str = "15.79"
result_float = float(str)
print(result_float, type(result_float))

15.79 <class 'float'>

In [16]:
year = "2020"
data = int(year)

print(data+1, data+2, data+3)
print(data-3, data-2, data-1)

2021 2022 2023
2017 2018 2019

In [17]:
# f 문자열도 섞어서 써보기
m_price = 48584
f'에어컨 구입 총금액 = {m_price * 36}원.'

'에어컨 구입 총금액 = 1749024원.'

## 021 ~ 030

In [18]:
letters = 'python'
print(letters[0], letters[2])

p t

In [20]:
license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [21]:
# '홀'만 출력하기 (1) 띄어쓰기 있는 ver.
str = '홀짝홀짝홀짝'
print(str[0], str[2], str[4])

홀 홀 홀

In [22]:
# '홀'만 출력하기 (2) 띄어쓰기 없는 ver.
# 슬라이싱 -> "시작인덱스:마지막인덱스:오프셋"  
# 오프셋 = 단위

str = '홀짝홀짝홀짝'
print(str[::2])  # 처음부터 끝까지 2씩 건너뛰며 출력

홀홀홀

In [24]:
# 문자열 거꾸로 뒤집어 출력
str = "PYTHON"
print(str[::-1])  # 처음부터 끝까지 -1씩 건너뛰며 출력 = 뒤에서 앞까지 1씩 역순으로 출력

NOHTYP

In [37]:
# 25 번
# 문자열 치환
# 연락처에서 하이픈(-)만 빼고 출력하기 (1) 간편한 방법

phone_number = "010-1111-2222"
phone_number.replace("-", " ")

'010 1111 2222'

In [35]:
# 연락처에서 하이픈(-)만 빼고 출력하기 (2) 손이 고생하는 방법 ㅠㅠ

phone_number = "010-1111-2222"
print(phone_number[0:3]+phone_number[4:8]+phone_number[9:])

01011112222

In [38]:
# 26번 : 25번 문제의 전화번호를 하이픈 제거 + 공백없이 출력

phone_number = "010-1111-2222"
phone_number.replace("-", "")

'01011112222'

In [48]:
# 27번
# url에 저장된 웹페이지 주소에서 도메인 출력하기 (1) . 기준으로 쪼개기 + 인덱싱
url = "http://sharebook.kr"
url_cut = url.split(".")
print(url_cut[-1])

kr

In [41]:
# url에 저장된 웹페이지 주소에서 도메인 출력하기 (2) 슬라이싱
url = "http://sharebook.kr"
print(url[-2:])

kr

In [50]:
lang = 'python'
lang[0] = 'p'
print(lang)  # 에러 원인 :  문자열은 수정할 수 없다(immutable)

TypeError: 'str' object does not support item assignment

In [54]:
# 소문자 'a'를 대문자 'A'로 바꾸기

string = 'abcde2a354a32a'
string.replace('a', 'A')

'Abcde2A354A32A'

In [57]:
# 30번
# replace 메서드는 원본 문자열은 보존한 채, 변경된 "새로운 문자열 객체"를 반환하는 것
string = 'abcd'
string.replace('b', 'B')
print(string)   # 문자열은 수정 불가하므로 원본 문자열인 'abcd'가 그대로 출력됨

abcd

## 031 ~ 040

In [58]:
a = "3"
b = "4"
print(a+b)

34

In [60]:
print("Hi " * 3)

Hi Hi Hi

In [61]:
print('-' * 80)

--------------------------------------------------------------------------------

In [63]:
t1 = 'python '
t2 = 'java '

print((t1+t2) * 4)

python java python java python java python java

In [65]:
# 35번 : f포맷팅
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

In [72]:
print("이름: %s 나이: %d" %(name1, age1))
print('이름: %s 나이: %d' %(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [75]:
# 36번 : 35번 문제와 같은 결과물을 format() 메서드 이용해서 출력
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [80]:
# 37번 : 35번 문제와 같은 결과물을 f문자열 이용해서 출력
print(f'이름: {name1} 나이: {age1}') 
print(f'이름: {name2} 나이: {age2}')

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [88]:
# 38번 : 문자열을 정수로 변환할 때...
# 컴마 제거하기 : 방법 1 = 데이터 타입을 정수로 변환
# 숫자형태의 문자열에 컴마가 포함되면 정수 변환이 바로 지원되지 않음
# 문자열 replace로 컴마 제거한 후 정수로 타입을 변화해야 함
상장주식수 = "5,969,782,550"

제거 = 상장주식수.replace(',','')
변환 = int(제거)
print(변환, type(변환))

5969782550 <class 'int'>

In [89]:
# 컴마 제거하기 : 방법 2 = 데이터 타입을 정수로 변환 못함
상장주식수 = "5,969,782,550"

int_상장주식수 = 상장주식수.replace(',','')
print(int_상장주식수, type(int_상장주식수))

5969782550 <class 'str'>

In [92]:
# 문자열 슬라이싱
분기 = '2020/03(E) (IFRS연결)'
print(분기[:7])

2020/03

In [95]:
# 문자열 공백 제거
# 문자열은 수정 불가 = strip() 메서드는 원본 문자열은 유지하고, 공백이 제거된 "새로운 문자열"을 반환함
data = "   삼성전자    "
data1 = data.strip()
print(data1)

삼성전자

## 041 ~ 050

In [97]:
# 대문자로
ticker = "btc_krw"
ticker1 = ticker.upper()
print(ticker1)

BTC_KRW

In [98]:
# 소문자로
ticker2 = ticker.lower()
print(ticker2)

btc_krw

In [102]:
# 문자열 'hello' -> 'Hello'로 변경 
# (방법1) capitalize 메서드
a = 'hello'
a = a.capitalize()
print(a)

Hello

In [103]:
# 문자열 'hello' -> 'Hello'로 변경 
# (방법2)
str1 = 'hello'
str2 = str1.replace('h', 'H')
print(str2)

Hello

In [104]:
# 44번 : endswith()
# 파일 이름이 문자열로 저장되어 있을 때, 파일이름이 'xlsx'로 끝나는지 확인

file_name = "보고서.xlsx"
file_name.endswith('xlsx')   # boolean

True

In [108]:
# 파일 이름이 문자열로 저장되어 있을 때, 파일이름이 'xlsx' or 'xls'로 끝나는지 확인

file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls"))  # 괄호 2개

True

In [111]:
# startswith()
file_name = "2020_보고서.xlsx"
file_name.startswith('2020')

True

In [113]:
# split()
# 공백을 기준으로 문자열 나누기

a = 'hello world'
a.split()

['hello', 'world']

In [114]:
ticker = "btc_krw"
ticker.split('_')

['btc', 'krw']

In [115]:
# 날짜를 연도, 월, 일 나누기

date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [116]:
# 문자열 오른쪽 공백 제거

data = "039490     "
data.rstrip()

'039490'

## 051 ~ 060

|순위|영화|
|:--:|:--:|
|1|닥터 스트레인지|
|2|스플릿|
|3|럭키|

In [123]:
# 리스트 생성
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
type(movie_rank)

list

In [124]:
# 리스트 요소 추가(1) : 맨 뒤에

movie_rank.append("배트맨")
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [125]:
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [128]:
# 리스트 요소 추가(2) : 특정 위치 지정 --->   .insert(인덱스,값)

movie_rank.insert(1,"슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [129]:
# 리스트 요소 삭제 : 1개

del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [132]:
# 리스트 요소 삭제 : 2개 이상
# 리스트에서 특정 값 삭제 -> 남은 값들도 자동으로 새로 인덱싱
# 두개 이상의 요소를 삭제할 땐, 어떤 값이 삭제된 후 남은 요소들의 순서를 새로 고려하여 인덱스 입력
del movie_rank[2]
del movie_rank[2]

print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [134]:
# 리스트 요소 합치기

lang1 = ['C', 'C++', 'JAVA']
lang2 = ['Python', 'Go', 'C#']

langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [138]:
# 최댓값, 최솟값
nums = [1, 2, 3, 4, 5, 6, 7]

print("max :", max(nums))
print("min :", min(nums))

max : 7
min : 1

In [139]:
# 리스트의 합 출력
nums = [1, 2, 3, 4, 5]

sum(nums)

15

In [140]:
# 리스트에 저장된 데이터의 개수

cook = ['피자', '김밥', '만두', '양념치킨', '족발', '피자', '김치만두', '쫄면', '소시지', '라면', '팥빙수', '김치전']
len(cook)

12

In [145]:
nums = [1, 2, 3, 4, 5]

average = sum(nums) / len(nums)
print(average)

3.0

## 061 ~ 070

In [146]:
# price 변수에서 (날짜 정보 제외하고) 가격 정보만 출력
price = ['20180728', 100, 130, 140, 150, 160, 170]

price[1:]

[100, 130, 140, 150, 160, 170]

In [147]:
# 슬라이싱 활용해서 홀수만 출력
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

nums[::2]

[1, 3, 5, 7, 9]

In [149]:
# 슬라이싱 활용해서 짝수만 출력
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

nums[1::2]

[2, 4, 6, 8, 10]

In [150]:
# 슬라이싱 활용해서 리스트 숫자를 역순으로 출력
nums = [1, 2, 3, 4, 5]

nums[::-1]

[5, 4, 3, 2, 1]

In [153]:
interest = ['삼성전자', 'LG전자', 'Naver']

print(interest[0], interest[2])

삼성전자 Naver

In [155]:
# join()
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [156]:
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [159]:
print(' \n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [167]:
# 회사 이름을 interest 리스트로 분리하여 저장
string = "삼성전자/LG전자/Naver"

interest = string.split('/')
print(interest, type(interest))

['삼성전자', 'LG전자', 'Naver'] <class 'list'>

In [173]:
# 리스트 값 오름차순 정리 (방법1)   .sort()
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [175]:
# 리스트 값 오름차순 정리 (방법2)     .sorted()
data = [2, 4, 3, 1, 5, 10, 9]
data2 = sorted(data)
print(data2)

[1, 2, 3, 4, 5, 9, 10]

## 071 ~ 080

In [179]:
# my_variable 이름의 비어있는 튜플 만들기

my_variable = ()
print(type(my_variable))

<class 'tuple'>

|순위|영화|
|:--:|:--:|
|1|닥터 스트레인지|
|2|스플릿|
|3|럭키|

In [182]:
movie_rank = ('닥터 스트레인지', '스플릿', '럭키')
print(movie_rank, type(movie_rank))

('닥터 스트레인지', '스플릿', '럭키') <class 'tuple'>

In [236]:
# 숫자 1이 저장된 튜플 생성
t = (1, )
print(t, type(t))

(1,) <class 'tuple'>

In [242]:
# 코드오류 원인 찾기  -> 튜플은 수정 불가(immutable)

t = (1, 2, 3)
t[0] = 'a'

TypeError: 'tuple' object does not support item assignment

In [7]:
# 튜플은 괄호 생략 가능
t = 1, 2, 3, 4
type(t)

tuple

In [8]:
# 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정
t = ('a', 'b', 'c')

t[0] = 'A'  # 코드에러 원인 : 튜플은 수정이 불가하다

TypeError: 'tuple' object does not support item assignment

In [3]:
# 튜플 -> 리스트
interest = ('삼성전자', 'LG전자', 'SK Hynix')

data = list(interest)
type(data)

list

In [4]:
# 78 번
# 리스트 -> 튜플
interest = ['삼성전자', 'LG전자', 'SK Hynix']

data = tuple(interest)
print(data)

('삼성전자', 'LG전자', 'SK Hynix')

In [5]:
# 튜플 언팩킹
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [6]:
# range 함수 
# 1부터 99까지의 정수 중 짝수만 저장된 튜플 생성

even_num = tuple(range(2, 100, 2))
print(even_num)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

## 081 ~ 090

In [10]:
# 별 표현식 (star expression *)
# 튜플에서 저장된 데이터 중에서 앞에 있는 두 개의 데이터만 필요할 경우, 나머지 데이터의 *을 이용해서 언패킹 코드 작성

a, b, *c = (0, 1, 2, 3, 4, 5)
a, b, c

(0, 1, [2, 3, 4, 5])

In [13]:
# 81 번
### 이해가 잘.... 안되는데??;;;;

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

# 좌측 8개 값만 반환
# 정답으로 제시된 코드
*valid_score, _, _ = scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [14]:
# 내가 작성한 코드
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

*a, b, c = scores
a

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [17]:
# 82 번
# 우측 8개 값만 반환
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

# 내가 작성한 코드
_, _, *valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [18]:
# 정답으로 제시된 코드
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

a, b, *valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [19]:
# 83 번
# 가운데 8개 값만 반환
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

# 정답으로 제시된 코드
a, *valid_score, b = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [20]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

# 내가 작성한 코드
_, *valid_score, _ = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [21]:
# 비어있는 딕셔너리

temp = {}
temp

{}

|이름|희망 가격|
|:--:|:-------:|
|메로나|1000|
|폴라포|1200|
|빵빠레|1800|

In [23]:
ice = {'메로나':1000, '폴라포':1200, '빵빠레':1800}
ice

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

|이름|희망 가격|
|:--:|:-------:|
|죠스바|1200|
|월드콘|1500|

In [24]:
# 딕셔너리에 아이스크림 가격정보 추가

ice['죠스바'] = 1200
ice['월드콘'] = 1800

ice

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1800}

In [35]:
ice = {'메로나': 1000,
       '폴라포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
# 다음 중 메로나 가격 출력하기

print(('메로나 가격 :'), ice['메로나'])

메로나 가격 : 1000

In [36]:
ice = {'메로나': 1000,
       '폴라포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
# 메로나 가격을 1300원으로 수정

ice['메로나'] = 1300
ice['메로나']

1300

In [37]:
ice = {'메로나': 1000,
       '폴라포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
# 메로나 삭제

del ice['메로나']
ice

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
# 다음 코드에서 에러가 발생한 원인 ---> 없는 키 값을 조회했으니까

icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']


''' Traceback (most recent call last):
  File "<pyshell#69>", line 1, in <module>
    icecream['누가바']
KeyError: '누가바' '''

## 091 ~ 100

- 이름을 키값으로(가격, 재고) 리스트를 딕셔너리 값을 저장
- 딕셔너리 이름은 inventory
|이름|가격|재고|
|:--:|:--:|:--:|
|메로나|300|20|
|비비빅|400|3|
|죠스바|250|100|

In [40]:
inventory = {'메로나': [300, 20], '비비빅':[400,3], '죠스바':[250,100]}
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [47]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
# 메로나 가격을 출력

inventory['메로나'][0]

300

In [49]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
# 메로나 재고 출력

print('메로나 재고:', inventory['메로나'][1], '개')

메로나 재고: 20 개

In [50]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
# 데이터 추가 (월드콘, 500, 7)

inventory['월드콘'] = [500, 7]
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [59]:
# 다음 중 키값으로만 구성된 "리스트" 생성
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

name = list(icecream.keys())
name

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [61]:
# 다음 중 value값으로만 구성된 "리스트" 생성
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

price = list(icecream.values())
price

[1200, 1200, 1800, 1500, 1000]

In [62]:
# 아이스크림 판매금액 총합 출력
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

total = sum(icecream.values())
total

6700

In [67]:
# new dict 추가 
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [68]:
# 99 번 --> 복습하기
# 다음 두개의 튜플을 하나의 딕셔너리로 변환
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

result = dict(zip(keys,vals))
result

{'apple': 300, 'pear': 250, 'peach': 400}

In [72]:
# 100 번 
# 다음 두 개의 리스트를 close_test 이름의 딕셔너리로 생성
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table = dict(zip(date, close_price))
close_table

{'09/05': 10500,
 '09/06': 10300,
 '09/07': 10100,
 '09/08': 10800,
 '09/09': 11000}

## 101 ~ 110

In [ ]:
# 파이썬에서 True 또는 False를 갖는 데이터 타입?
# Boolean

In [1]:
# 출력결과 예상하기 : False
# print(3 == 5)
print(3 == 5)

False

In [2]:
# 출력결과 예상하기 : True
# print(3 < 5)
print(3 < 5)

True

In [3]:
# 코드 결과 예상하기 : True
x = 4
print(1 < x < 5)

True

In [1]:
# 코드 결과 예상하기 : True
print((3 ==3) and (4 != 3))

True

In [2]:
# 다음 코드에서 에러가 발생하는 원인 : 존재하지 않는 연산자 -_-..
print(3 => 4)

SyntaxError: invalid syntax (2971168763.py, line 2)

In [3]:
# 코드 결과 예상하기 : Hi, there

if 4 < 3 :
    print('Hello Workld')
else:
    print('Hi, there')

Hi, there

In [4]:
# 코드 결과 예상하기 : 1 -> 2-> 4

if True:
    print('1')
    print('2')
else:
    print('3')
print('4')

1
2
4

In [5]:
# 코드 결과 예상하기 : 3 -> 5

if True:
    if False:
        print('1')
        print('2')
    else:
        print('3')
else:
    print('4')
print('5')

3
5

## 111 ~ 120
- https://wikidocs.net/7030

In [3]:
# 사용자로부터 입력받은 문자열 2번 출력하기

a = (input('메시지 입력 : '))
print(a * 2)

메시지 입력 : 안녕하세요~
안녕하세요~ 안녕하세요~

In [10]:
# 사용자로부터 하나의 숫자 입력받고, 입력 받은 숫자에 10을 더하기

push = int(input('숫자 입력 : '))
print(push + 10)

숫자 입력 : 15
25

In [7]:
# 사용자로부터 하나의 숫자 입력받고, 짝수/홀수 판별하기

push = int(input('숫자 입력 : '))
if push % 2 == 0:
    print('짝수')
else:
    print('홀수')

숫자 입력 : 15
홀수

In [17]:
# 114번
# 사용자로부터 값을 입력받은 후 해당 값에 20을 더한 값을 출력하라.
# 단 사용자가 입력한 값과 20을 더한 계산 값이 255를 초과하는 경우 255를 출력

push = int(input('숫자 입력 : '))
result = int(push + 20)

if result < 255:
    print(result)
else:
    print('255')

숫자 입력 : 150
170

In [21]:
# 사용자로부터 하나의 값을 입력받은 후 해당 값에 20을 뺀 값을 출력
# 단 출력 값의 범위는 0~255
# 결괏값이 0보다 작은 값이되는 경우 0을 출력, 255보다 큰 값이 되는 경우 255를 출력

push = int(input('0~255 중 하나의 숫자 입력 : '))
result = push - 20

if result < 0:
    print('0')
elif result > 255:
    print('255')
else:
    print(result)

0~255 중 하나의 숫자 입력 : 16
0

In [37]:
# 116 번
# 시간 포맷(00:00)을 어떻게 판별하지?? -> : 뒤에 숫자가 '00'인지 확인하면 되는데..
# 사용자로부터 입력 받은 시간이 정각인지 판별
push = input('현재 시간 "00:00" 입력 -> ')
result = push 

if result[3] and result[4] == "0" :   # 인덱스 사용하려면 str 쓰기!
    print('정각입니다.')
    
else:
    print('정각이 아닙니다.')

현재 시간 "00:00" 입력 -> 15:00
정각입니다.

In [39]:
# 사용자로 입력받은 단어가 아래 fruit 리스트에 포함되어 있는지를 확인
# 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력

fruit = ["사과", "포도", "홍시"]

user = input('좋아하는 과일은? ')

if user in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은? 수박
오답입니다.

In [41]:
# 투자 경고 종목 리스트가 있을 때 
# 사용자로부터 종목명을 입력 받은 후 해당 종목이 투자 경고 종목이라면 '투자 경고 종목입니다' 
# 아니면 "투자 경고 종목이 아닙니다."를 출력
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]

user = input('종목명 : ')

if user in warn_investment_list:
    print('투자 경고 종목입니다.')
else:
    print('투자 경고 종목이 아닙니다.')

종목명 : LG
투자 경고 종목입니다.

In [47]:
# 사용자가 입력한 값이 딕셔너리 키 (key) 값에 포함되었다면 "정답입니다"
# 아닐 경우 "오답입니다" 출력
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

user = input('제가 좋아하는 계절은? : ')

if user in fruit:
    print('정답입니다.')
else:
    print('오답입니다.')

제가 좋아하는 계절은? : 겨울
오답입니다.

In [2]:
# 사용자가 입력한 값이 딕셔너리 값 (value)에 포함되었다면 "정답입니다"
# 아닐 경우 "오답입니다" 출력

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

user = input('내가 좋아하는 과일은? ')

if user in fruit.values():
    print('정답입니다')    
else:
    print('오답입니다')

내가 좋아하는 과일은? 귤
오답입니다

## 121 - 130
- https://wikidocs.net/7031

In [26]:
# 소문자-> 대문자
# 대문자 -> 소문자

val = input('문자 1개 입력 : ')

if val.islower():
    print(val.upper())
else:
    print(val.lower())

문자 1개 입력 : b
B

In [12]:
islower?

Object `islower` not found.

In [32]:
# 내가 작성한 코드

score = int(input('score : '))

if score >= 81 :
    print('grade is A')
elif score <= 80 and score >= 61:
    print('grade is B')
elif score <=60 and score >=41:
    print('grade is C')
elif score <=40 and score >=21:
    print('grade is D')
else:
    print('grade is E')

score : 34
grade is D

In [63]:
# 예제 답안

score = int(input('score : '))

if 81 <= score <=100:
    print('grade is A')
elif 61<=score<=80:
    print('grade is B')
elif 41<=score<=60:
    print('grade is C')
elif 21<=score<=40:
    print('grade is D')
else:
    print('grade is E')

score : 23
grade is D

In [62]:
#123

# 내가 작성한 코드 (문제를 오해한 거 같은데 ;;;;)
# 통화(환율) 선택 -> 금액 입력-> 조건문(통화*금액)으로 계산 -> 출력
rate = {'달러':1167, '엔':1.096, '유로':1268, '위안':171}

choice = int(input('통화 선택 :1.달러  2.엔  3.유로  4.위안'))
money = int(input('입금액 : '))

if choice == 1:
    print(money*rate.get('달러'), '원')
elif choice == 2:
    print(money*rate.get('엔'), '원')
elif choice == 3:
    print(money*rate.get('유로'), '원')
elif choice == 4:
    print(money*rate.get('위안'), '원')

통화 선택 :1.달러  2.엔  3.유로  4.위안2
입금액 : 150
164.4 원

In [66]:
# 예제 답안
# 복붙 했는데 왜 에러가 나지,,,?

환율 = {"달러": 1167, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}
user = input("입력: ")
num, currency = user.split()
print(float(num) * 환율[currency], "원")

입력: 250

ValueError: not enough values to unpack (expected 2, got 1)

In [68]:
#124
num1 = int(input('숫자1 입력 : '))
num2 = int(input('숫자2 입력 : '))
num3 = int(input('숫자3 입력 : '))

print(max(num1, num2, num3))

숫자1 입력 : 13
숫자2 입력 : 15
숫자3 입력 : 99
99

In [75]:
#125
# 내가 쓴 코드
service = {'011':'SKT', '016':'KT', '019':'LG', '010':'알수없음'}

user = input('휴대전화 번호 입력(XXX-XXXX-XXXX): ')
first = user[:3]

print('당신은', service.get(first), '사용자 입니다.')

휴대전화 번호 입력(XXX-XXXX-XXXX): 01955556666
당신은 LG 사용자 입니다.

In [77]:
# 예제 답안
# '-' 기준으로 split -> 조건문으로 구분

number = input('휴대전화 번호 입력 : ')
num = number.split('-')[0]

if num == "011":
    com = 'SKT'
elif num == "0161":
    com = 'KT'
elif num == "019":
    com = 'LG'
elif num == "010":
    com = '알수없음'
    
print(f'당신은 {com} 사용자입니다.')

휴대전화 번호 입력 : 010-222-4444
당신은 알수없음 사용자입니다.

In [92]:
#126

# 내가 작성한 코드 : 출력오류 -> 어떤 번호를 입력해도 '강북구' 출력
# 원인은 if문 작성 문법(if num == '0' or '1' or '2':) 
# 이렇게 쓰면 '1' 과 '2'는 항상 Ture ==> 첫번째 if문이 항상 True로 입력됨

number = input('우편번호(01XXX) : ')
num = number[2]
print(num) # 내가 인덱싱을 정확히 했는지 확인

if num == '0' or '1' or '2':
    address = '강북구'
    
elif num == '3' or '4' or '5':
    address = '도봉구'
    
elif num == '6' or '7' or '8' or '9':
    address = '노원구'

print(address)

우편번호(01XXX) : 01600
6
강북구

In [93]:
# 내가 작성한 코드_ 수정ver.

number = input('우편번호(01XXX) : ')
num = number[2]
print(num)

if num in ['0', '1', '2']:
    address = '강북구'
    
elif num in ['3', '4', '5']:
    address = '도봉구'
    
elif num in ['6', '7', '8', '9']:
    address = '노원구'

print(address)

우편번호(01XXX) : 01600
6
노원구

In [2]:
# 예제 답안

우편번호 =input('우편번호 : ')
우편번호 = 우편번호[:3]
if 우편번호 in ["010", "011", "012"]:
    print('강북구')
elif 우편번호 in ["013", "014", "015"]:
    print('도봉구')
else:
    print('노원구')

우편번호 : 01933
노원구

In [13]:
#127
# 내가 작성한 코드(1) : 모두가 중간에 하이픈을 넣어서 입력한다는 가정 하에...
# 간단하게 슬라이싱 하면 끝
num = input('주민등록번호(XXXXXX-nXXXXXX): ')
num = num[7]
print(num)

if num in ['1', '3']:
    print('남자')
elif num in ['2', '4']:
    print('여자')
else:
    print('번호를 잘못 입력하셨습니다.')

주민등록번호(XXXXXX-nXXXXXX): 920315-4983678
4
여자

In [25]:
# 예제 답안

주민번호 = input('주민등록번호 : ')
주민번호 = 주민번호.split('-')[1]
if 주민번호[0] == "1" or 주민번호[0] == '3':
    print('남자')
else:
    print('여자')

주민등록번호 : 123456-2345678
여자

In [24]:
#127  #### 뭔가 이상함... 다음에 다시 도전
# 내가 작성한 코드(2) : 그러나 모두가 하이픈을 넣어서 작성하진 않을 것...
num = input('주민등록번호(XXXXXX-nXXXXXX): ')
    
if num in ['-'] :
    num1 = num.split('-')[1]
    num2 = num1[0]
    print(num2)

    if num2 in ['1', '3']:
        print('남자')
    elif num2 in ['2', '4']:
        print('여자')
    else:
        print('번호를 잘못 입력하셨습니다.')
        
else :
    print('하이픈(-)을 넣어 다시 입력해주세요.')

주민등록번호(XXXXXX-nXXXXXX): 123456-2345678
하이픈(-)을 넣어 다시 입력해주세요.

In [30]:
#128
# 내가 작성한 코드 = 예제답안과 유사
num = input('주민등록번호 : ')
num1 = num.split('-')[1]
num2 = int(num1[1:3])
print(num2)

if 0 <= num2 < 9 :
    print('출생지 : 서울')
else :
    print('출생지 : 서울 아님')

주민등록번호 : 131223-30321111
3
출생지 : 서울

In [87]:
#129
#주민등록 유효성 체크

# 내가 작성한 코드 = 너무 원시적인 거 같은데...

num = input('주민등록번호 입력: ')
last_one = int(num[-1])
print('last_one :', last_one)

n1 = int(num[0])*2
n2 = int(num[1])*3
n3 = int(num[2])*4
n4 = int(num[3])*5
n5 = int(num[4])*6
n6 = int(num[5])*7
n7 = int(num[7])*8
n8 = int(num[8])*9
n9 = int(num[9])*2
n10 = int(num[10])*3
n11 = int(num[11])*4
n12= int(num[12])*5

total = n1 + n2 + n3 + n4 + n5 + n6 + n7 + n8 + n9 + n10 + n11 + n12
print('total :', total)

result = 11 - (total % 11)
print('result :', result)

if last_one == result:
    print('유효한 주민등록번호 입니다.')
else:
    print('유효하지 않은 주민등록번호 입니다.')

주민등록번호 입력: 821010-1635210
last_one : 0
total : 128
result : 4
유효하지 않은 주민등록번호 입니다.

In [88]:
#129
# 예제 답안 _ 내 코드랑 뭐가 다른거지?? 절차는 유사해보이는데 뭘 놓친거지?

num = input("주민등록번호: ")
계산1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + \
        int(num[5]) * 7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10])* 3 + \
        int(num[11])* 4 + int(num[12]) * 5
계산2 = 11 - (계산1 % 11)
계산3 = str(계산2)

if num[-1] == 계산3[-1]:
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")

주민등록번호: 821010-1635210
유효하지 않은 주민등록번호입니다.

In [92]:
#130   https://wikidocs.net/7031
# 뭔말이야...뭘 어떻게 하라는건데.... 이건 나중에 풀어보기

import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json
['data']

변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if (시가+변동폭) > 최고가:
    print("상승장")
else:
    print("하락장")

TypeError: 'method' object is not subscriptable

## 131 - 140
- https://wikidocs.net/78562

In [94]:
# 131
# 결과 예측  ---> 사과(줄바꿈) 귤(줄바꿈) 수박(줄바꿈)
# 문자열 하나씩 출력 -> 개행(\n) 후 다음 문자열 출력

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [95]:
#132
# 결과 예측(틀림) ---> 사과(줄바꿈) #####(줄바꿈) 귤(줄바꿈) #####(줄바꿈) 수박(줄바꿈) #####(줄바꿈)
# for문 : '들여쓰기'된 코드가 자료구조에 저장된 데이터 개수만큼 반복된다

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

# 사과 -> #####
# 귤 -> #####
# 수박 -> #####

#####
#####
#####

In [96]:
#133
print("A")
print("B")
print("C")

A
B
C

In [97]:
#134
# 동일한 동작 코드작성
'''for 변수 in ["A", "B", "C"]
    print("출력 :", 변수)'''

print("출력 : A")
print("출력 : B")
print("출력 : C")

출력 : A
출력 : B
출력 : C

In [6]:
#135
# 동일한 동작 코드작성
'''for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)'''

print("변환: a")
print("변환: b")
print("변환: c")

변환: a
변환: b
변환: c

In [9]:
#136

nums = ['10', '20', '30']

for 변수 in nums:
    print(변수)

10
20
30

In [11]:
#137
for 변수 in ['10', '20', '30']:
    print(변수)

10
20
30

In [15]:
#138

nums = ['10','20','30']

for 변수 in nums:
    print(변수)
    print('------')

10
------
20
------
30
------

In [16]:
#139

nums = ['10', '20', '30']

for 변수 in nums:
    print('+++++')
    print(변수)

+++++
10
+++++
20
+++++
30

In [17]:
# for문은 반복되는 코드에만 사용할 것!

print("++++")

for 변수 in [10, 20, 30]:
  print(변수)

++++
10
20
30

In [25]:
#140

val = ['one', 'two', 'three', 'four']

for line in val:  # for문에서는 "들여쓰기 된 코드"가 실행되는 것
    print('--------')

--------
--------
--------
--------

## 141-150
- https://wikidocs.net/7020

In [30]:
#141
# for문 이용해서 부가세 10원 포함한 가격으로 출력

val = [100, 200, 300]

for price in val:
    print(price + 10)

110
210
310

In [31]:
#142

product = ['김밥', '라면', '튀김']

for menu in product:
    print('오늘의 메뉴는 ~ ', menu)

오늘의 메뉴는 ~  김밥
오늘의 메뉴는 ~  라면
오늘의 메뉴는 ~  튀김

In [32]:
#143

s_list = ["SK하이닉스", '삼성전자', 'LG전자']

for length in s_list:
    print(len(length))

6
4
4

In [33]:
#144

ani_list = ['dog', 'cat', 'parrot']

for animal in ani_list:
    print(animal, len(animal))

dog 3
cat 3
parrot 6

In [35]:
#145
ani_list = ['dog', 'cat', 'parrot']

for animal in ani_list:
    print(animal[0])

d
c
p

In [37]:
#146
nums = [1, 2, 3]

for num in nums:
    print('3 x',num)

3 x 1
3 x 2
3 x 3

In [38]:
#147

nums = [1, 2, 3]

for num in nums:
    print('3 x', num, '=', 3 *num)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [40]:
# 문자열 함수를 활용해서 출력하면

for num in nums:
    print(f'3 x {num} = {3 *num}')

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [42]:
for num in nums:
    print('3 x {} = {}'.format(num, num*3))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [48]:
#148
리스트 = ['가','나','다','라']

for cha in 리스트[1:]:
    print(cha)

나
다
라

In [62]:
#149
리스트 = ['가','나','다','라']

for cha in 리스트[::2]:
    print(cha)

가
다

In [73]:
#150
# 간격을 음수로 설정하면 역방향으로 슬라이싱~

리스트 = ['가','나','다','라']

for cha in 리스트[::-1]:
    print(cha)

라
다
나
가

In [1]:
# 로또 번호 생성

import random

def lotto():
    return random.sample(range(1, 45), 6)

for i in range(5):
    lotto_num = lotto()
    print("로또 번호 : ", lotto_num)

로또 번호 :  [5, 17, 42, 36, 7, 38]
로또 번호 :  [33, 5, 22, 24, 39, 8]
로또 번호 :  [10, 18, 27, 6, 34, 3]
로또 번호 :  [33, 17, 2, 13, 26, 9]
로또 번호 :  [3, 40, 20, 39, 25, 23]