# Basic 300 : 201 - 240
- https://wikidocs.net/23907

In [1]:
# 201
# 함수 정의
# 함수 정의는 실행해도 아무일도 일어나지 않음

def print_coin():
    print("비트코인")

In [2]:
# 202
# 함수 호출 = 정의된 함수를 실행시키는 것

print_coin()

비트코인

In [3]:
# 203
# 100번 호출 = 202번 결과값을 100번 반복해서 꺼내오기 = for문?

for i in range(10):
    print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [4]:
# 204
# 100번 출력하는 함수 정의 = 201번 203번 혼합

def print_coins():
    for i in range(10):
        print("비트코인")

In [5]:
# 205
# 에러 발생한 이유
# 함수가 정의되기 전에 호출되어서 에러 발생 : 무조건 정의 -> 호출 순서로

hello()   # 이건 전역함수
 
def hello(): # 이건 지역함수라서
    print("Hi")

NameError: name 'hello' is not defined

In [11]:
# 206
# 실행결과 예측 : A B C A B (줄바꿈)
# 참고) print()에는 줄바꿈 기능이 내장되어 있음 \n

def message() :
    print("A")
    print("B")

message()
print("C")
message()

A
B
C
A
B

In [16]:
# 207
# 실행 결과 예측 : A C B (줄바꿈)

print("A")

def message():
    print("B")
    
print("C")
message()

A
C
B

In [17]:
# 208
# 실행결과 예측 : A C B E D (줄바꿈)

print("A")
def message1():
    print("B")
print("C")
def message2():
    print("D")
message1()
print('E')
message2()

A
C
B
E
D

In [18]:
# 209
# 실행결과 예측 : B A (줄바꿈)

def message1():
    print("A")
    
def message2():
    print("B")
    message1()

message2()

B
A

In [19]:
# 210
# 실행결과 예측 :  B C B C B C A (줄바꿈)

def message1():
    print("A")
    
def message2():
    print("B")
    
def message3():
    for i in range(3):
        message2()
        print("C")
    message1()
    
message3()

B
C
B
C
B
C
A

In [20]:
# 211
# 함수의 호출 결과 예측 : 안녕 Hi

def 함수(문자열):
    print(문자열)  
    
함수("안녕") # def 함수에 "안녕" 이라는 문자열을 넣어서 호출해줘
함수("Hi")

안녕
Hi

In [21]:
# 212
# 함수의 호출 결과 예측 : 7 15 

def 함수(a, b):
    print(a+b)
    
함수(3,4)
함수(7,8)

7
15

In [26]:
# 213 
# 아래 에러 발생 원인은? 
# 함수 정의에서 함수의 매개변수로 1개의 값을 ()안에 입력하게로 되어 있음
# 그런데 함수() <- 여기에는 인자를 아무것도 기입하지 않아(0개) 개수가 불일치
 
def 함수(문자열) :
    print(문자열)
    
함수()

TypeError: 함수() missing 1 required positional argument: '문자열'

In [27]:
def 함수(문자열) :
    print(문자열)
    
함수(35)   # 이러면 에러 발생 안함 : 1개의 파라미터 1개의 인자

35

In [30]:
# 214
## 아래 에러 발생 원인은? 서로 다른형태의 자료들은 연산할 수 없음
def 함수(a,b):
    print(a+b)  # "안녕"은 문자열, 3은 int
    
함수("안녕", 3)

TypeError: can only concatenate str (not "int") to str

In [31]:
# 214 -1  이건 에러 없이 가능~
def 함수(a,b):
    print(a+b)  # "안녕"은 문자열, "3"도 문자열
    
함수("안녕", ' 3')   # 예상 결과: 안녕 3 (문자열 + 문자열 형태)

안녕 3

In [1]:
# 215
# 하나의 문자를 입력받아 문자열 끝에 
#":D" 스마일 문자열을 붙여 출력하는 print_with_smile 함수 정의

def print_with_smile(문자열):
    print(문자열 + ':D')
    
print_with_smile('메리크리스마스')

메리크리스마스:D

In [3]:
# 216
print_with_smile('안녕하세요')

안녕하세요:D

In [4]:
#217
def print_upper_price(p):
    print(p*1.3)

In [5]:
#218
def print_sum(a, b):
    print(a+b)

In [21]:
#219 ---> 내가 작성한 코드
def print_arithmetic_operation(a, b):
    print(f'{a} + {b} = {a+b}')
    print(f'{a} - {b} = {a-b}')
    print(f'{a} * {b} = {a*b}')
    print(f'{a} / {b} = {a/b}')

In [19]:
#219 ---> 예제 답안
'''def print_arithmetic_operation(a, b):
    print(a, "+", b, "=", a+b)
    print(a, "-", b, "=", a-b)
    print(a, "*", b, "=", a*b)
    print(a, "/", b, "=", a/b)'''

In [22]:
print_arithmetic_operation(3,4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [14]:
# 220 세 개 함수 입력받아 가장 큰 수를 출력하는 함수 정의
# 내가 작성한 코드
# 이건 세 개의 값이 똑같으면 출력을 못함;;;;

def print_max(a,b,c):
    if a > b and a > c:
        print(a)
    elif b > a and b > c:
        print(b)
    elif c > a and c > b:
        print(c)

In [28]:
###### 220  # 코드 파악하기 
# 예제 답안 (아래 형식의 코드가 자주 쓰이므로 익혀두자)
'''
def print_max(a,b,c):
    max_val = 0
    if a > max_val:
        max_val = a
    if b > max_val:
        max_val = b
    if c > max_val:
        max_val = c
    print(max_val)    
'''

In [17]:
print_max(1, 6, 5)

6

In [30]:
#220 ---> 근데 사실 이 문제는 내장함수가 있어 ㅡㅡ
max(7, 5, 0)

7

In [43]:
# 221 
# a.reverse()는 리스트만 가능??
# 문자열을 역순으로 출력할 땐 인덱스를 쓰자

def print_reverse(a):
    print(a[::-1])

In [44]:
print_reverse("python")

nohtyp

In [50]:
a = [1, 2, 3]
a.reverse()
a

[3, 2, 1]

In [51]:
a = ['1', '2', '3']
a.reverse()
a

['3', '2', '1']

In [56]:
# 222 
def print_score(score):
    print(sum(score)/len(score))

In [57]:
print_score([1, 2, 3])

2.0

In [73]:
#223
def print_even(nums):
    for num in nums:
        if num % 2 == 0:
            print(num)

In [74]:
print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [92]:
####### 224  # 이건 다시 복습해
# 하나의 딕셔너리를 입력 받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수 정의하기

def print_keys(info_k):
    for info in info_k.keys():
        print(info)

In [93]:
print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [10]:
######### 225 # 이것도 다시 복습해
# my_dict와 날짜 키값을 입력받아 OHLC 리스트 출력하는 print_value_by_key 함수정의

my_dict = {"10/26" : [100, 130, 100, 100], 
           "10/27" : [10, 12, 10, 11]}

def print_value_by_key(my_dict, key):
    print(my_dict[key])

In [11]:
print_value_by_key(my_dict, "10/26")

[100, 130, 100, 100]

In [21]:
####### 226 # 이것도 다시 복습
# 입력 문자열을 한 줄에 다섯 글자씩 출력하는 함수
# 내가 작성한 코드 ..... 이거 아니야....

def print_5xn(string):
    print(string[:5]) 
    print(string[5:])

In [22]:
print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [26]:
# 226 (예제 답안)
# 이해될 때까지 무한 손코딩.....

def print_5xn(line):
    chunk_num = int(len(line)/5)
    for x in range(chunk_num + 1):
        print(line[ x * 5 : x * 5 + 5])

In [27]:
print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [34]:
###### 227  # 얘도 복습 
# 226 예제 답안 참고해서 얼떨결에 작성은 했는데.. 원리를 아직 모르겠어...
# (1) 문자열과 한줄에 출력될 글자 수를 입력 받아 --> len() ?
# (2) 한줄에 입력된 글자 수 만큼 출력하는 함수 작성

def print_mxn(line, cut):
    chunk_num = int(len(line)/cut)
    for x in range(chunk_num +1):
        print(line[x * cut : x * cut + cut])

In [35]:
print_mxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

In [36]:
# 228
# 연봉 입력하면 월급 계산하는 함수 정의
# 연봉을 12개월 나누어 월급으로 지급. 1원 미만은 버림 = float -> int

def calc_monthly_salary(total):
    print(int(total/12))

In [37]:
calc_monthly_salary(12000000)

1000000

In [38]:
def calc_monthly_salary(annual_pay) :
    monthly_pay = int(annual_pay / 12)
    return monthly_pay

In [39]:
calc_monthly_salary(12000000)

1000000

In [40]:
# 229
# 실행결과 예측 --->  왼쪽:100 (줄바꿈) 오른쪽:200

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)

왼쪽: 100
오른쪽: 200

In [41]:
# 230
# 실행결과 예측 ---> 왼쪽:200 (줄바꿈) 오른쪽:100
# 인덱스를 지정하면 순서를 바꿀 수 있다

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

왼쪽: 200
오른쪽: 100

In [42]:
# 231
# 실행결과 예측 --->  에러발생(전역변수와 지역변수)
# 지역변수를 return 하지 않으면 함수 밖에서 (전역변수로) 사용할 수 없음

def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result)

NameError: name 'result' is not defined

In [48]:
# 232
# 문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수 정의

def make_url(address):
    url = 'www.' + address + '.com'
    return url

'''한 줄로 표현한다면....
def make_url(string):
    return "www. " + string + ".com" '''

In [49]:
make_url("naver")

'www.naver.com'

In [51]:
##### 233
# 문자열 입력받아 각 문자들로 구성된 리스트로 반환하는 make_list 함수 정의
# 내가 작성한 코드

def make_list(word):
    result = list(word)
    return result

In [52]:
make_list("abcd")

['a', 'b', 'c', 'd']

In [ ]:
# 예제 답안 : 비어 있는 리스트를 for문으로 채워넣는 방식 익히기

def make_list(string):
    my_list = []
    for 변수 in string:
        my_list.append(변수)
    return my_list

'''한 줄로 표현한다면
def make_list(string):
    return list(string)'''

In [63]:
####### 234
# (1) 숫자로 구성된 하나의 리스트를 입력받아, 
# (2) 짝수들을 추출하여 리스트로 반환하는 pickup_even 함수 구현

def pickup_even(num):
    if num % 2 == 0:
        return num

In [64]:
pickup_even([3, 4, 5, 6, 7, 8])

TypeError: unsupported operand type(s) for %: 'list' and 'int'

In [61]:
# 234 예제 답안
def pickup_even(items):
    result = []
    for item in items:
        if item % 2 == 0:
            result.append(item)
    return result

In [67]:
# 235
# 콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 convert_int 함수 정의

def convert_int(cost):
    transfer = cost.replace(',','')
    return transfer

In [68]:
convert_int("1,234,567")

'1234567'

In [69]:
# 235 예제 답안
def convert_int(string):
    return int(string.replace(',', ''))

In [70]:
# 236
# 실행결과 예측하기 ---> 22 (14 + 4+ 4)

def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)

22

In [71]:
# 237
# 실행결과 예측하기 : 14 + 4 + 4 = 22

def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)

22

In [72]:
# 238
# 실행결과 예측하기 : 14 * 10 = 140

def 함수1(num) :  # 14
    return num + 4

def 함수2(num) :  # 14 * 10 
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)

140

In [73]:
# 239
# 실행결과 예측 : 140 = (10+4)*10

def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)

140

In [74]:
# 240
# 실행결과 예측 : 28 = {(2+10) + 2} * 2

def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)

28